.btn-container {
    /* border: solid 1px yellow; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}
.addBtn,
.cancelBtn {
    cursor: pointer;
    font-size: 0.9rem;
    padding: 8px;
    width: 150px;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    font-weight: 600;
    padding: 12px;
}
.addBtn {
    background-color: #003566;
}
.cancelBtn {
    background-color: #777c6d;
}
.addBtn:hover {
    background-color: #1c4d8d;
}
.cancelBtn:hover {
    background-color: #b7b89f;
}
.ellipsis-dropdown {
    /* border: solid 1px; */
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.ellipsis-btn {
    /* border: solid 1px; */
    border: none;
    padding: 0 12px;
    font-size: 1rem;
    background: none;
    cursor: pointer;
}
.ellipsis-menu {
    /* border: solid 1px; */
    background-color: #f5f0f0;
    border-radius: 12px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    z-index: 10;
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
}
.ellipsis-menu button:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.ellipsis-menu button:last-child {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
