.card-container {
    /* border: solid 1px yellow; */
    width: 100%;
    height: 88vh;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    justify-content: center;
    align-content: center;
    gap: 25px;
}
.card {
    width: 100%;
    height: 25vh;
    border-radius: 12px;
    box-shadow: 0 0 6px rgb(0, 0, 0, 0.8);
    background-color: #ffffff;
    position: relative;
}
.card:hover {
    background-color: #fca311;
}
.counter {
    /* border: solid 1px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-family: "Press Start 2P", system-ui;
    font-weight: 600;
    /* padding: 12px; */
}
.card-label {
    /* border: solid 1px; */
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    font-family: "Unbounded", sans-serif;
    font-weight: 600;
    padding: 8px;
    width: 100%;
}
