.search-container {
    /* border: solid 1px; */
    width: 100%;
    padding: 4px;
    display: flex;
    align-items: center;
    gap: 4px;
}
input {
    padding: 12px;
    width: 50%;
    border-radius: 8px;
    border: solid 1px;
    border-color: gray;
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
}
input:focus {
    outline: none;
}
.clearBtn {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #003566;
    cursor: pointer;
    color: #ffff;
    font-size: 1rem;
    font-weight: 600;
    width: 50px;
    padding: 12px;
}