section {
    /* border: solid 1px blue; */
    width: 100%;
    height: 100vh;
}
.header {
    /* border: solid 1px; */
    text-align: center;
    padding: 12px;
    font-size: 1.3rem;
    font-family: "Tagesschrift", system-ui;
    font-weight: 400;
    width: 100%;
    height: 10vh;
}
.section-container {
    display: none;
}